@import "variables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/fontawesome/scss/font-awesome.scss";
@import "bootstrap/buttons";
@import "bootstrap/progress-bars";

[ng-click] { cursor: pointer }

.show-grid { margin-bottom: 15px; }

body {
  @media screen and (min-width: $screen-sm-min) {
    padding: 340px 0 70px;
  }
}

#header {
  margin-bottom: 20px;
  @media screen and (min-width: $screen-sm-min) {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    z-index: 10;
  }

  .current-header {
    position: relative;
    padding-top: 200px;

    background: #000;

    @media screen and (max-width: $screen-xs-max) {
      padding-top: 20px;
    }

    .background {
      position: absolute;
      left: 0; top: 0;
      width: 100%; height: 100%;

      background-position: center;
      background-repeat: none;
      background-size: cover;
      opacity: 0.65;

      -webkit-filter: blur(20px);
              filter: blur(20px);
    }

    .current-name {
      color: #fff;

      @media screen and (min-width: $screen-sm-min) {
        height: 1.2em;
        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .current-info {
    position: relative;
    padding: 10px 0;

    background: #f1f1f1;

  }

  .figure-artwork {
    position: relative;

    @media screen and (max-width: $screen-xs-max) {
      display: inline-block;
    }

    @media screen and (min-width: $screen-sm-min) {
      position: absolute;
      bottom: -100px;
      z-index: 1;
    }

  }

}

#submission {
  padding: 10px 0;
  background: #f1f1f1;

  @media screen and (min-width: $screen-sm-min) {
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    z-index: 11;
  }

}