<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">

    <title>CloudList</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="cloudlistApp">
    <div id="submission" ng-include="'views/tracks/new.html'"></div>
    <div id="header" ng-include="'views/tracks/current.html'"></div>

    <div id="content">
      <div class="container" ng-view=""></div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="https://w.soundcloud.com/player/api.js"></script>

    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>
