<div class="current" ng-if="current">

  <div class="background" style="background-image: url({{current.art | scthumb:'t500x500'}});"></div>

  <div class="controls">
    <img class="img-responsive" width="240" ng-src="{{current.art | scthumb:'t500x500'}}">

    <div class="btn-group">
      <a class="btn btn-primary"
        ng-click="toggle()">
        {{text}}
      </a>

      <a class="btn btn-default"
        ng-click="skip()">
        Skip
      </a>
    </div>

    <sc-stream sc-track-url="current.url"></sc-stream>
  </div>

</div>

<hr ng-if="current">