<div ng-controller="CurrentCtrl">

  <div class="current-header">
    <div class="background" style="background-image: url({{(current.art | scthumb:'t500x500') || 'http://static.tumblr.com/qmraazf/ps5mjrmim/unknown-album.png'}});"></div>

    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2 text-center">

          <div class="figure figure-artwork">
            <img class="img-responsive" width="240" ng-src="{{(current.art | scthumb:'t500x500') || 'http://static.tumblr.com/qmraazf/ps5mjrmim/unknown-album.png'}}">
          </div>

        </div>

        <div class="col-sm-7 col-md-8">
          <h2 class="current-name">{{current.name || 'CloudList'}}</h2>
        </div>

      </div>
    </div>
  </div>

  <div class="current-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-offset-2 col-md-10">
          <div class="media">
            <div class="pull-left">
              <a class="btn btn-xs btn-primary"
                ng-click="toggleState()">
                <i class="glyphicon glyphicon-play" ng-show="state != 'play'"></i>
                <i class="glyphicon glyphicon-pause" ng-show="state == 'play'"></i>
              </a>
            </div>

            <div class="btn-group pull-right">
              <a class="btn btn-xs btn-default"
                ng-class="{ active: shuffle }"
                ng-click="toggleShuffle()">
                <i class="glyphicon glyphicon-random"></i>
              </a>

              <a class="btn btn-xs btn-default"
                ng-class="{ active: repeat }"
                ng-click="toggleRepeat()">
                <i class="glyphicon glyphicon-repeat"></i>
              </a>
            </div>

            <div class="media-body">
              <pl-tracker pl-tracker-value="progress.percent"></pl-tracker>
              <span class="label label-default">{{(progress.time | toMinSec) || '0:00'}}</span>
              <span class="label label-default pull-right"
                ng-show="current.meta.duration">{{convertDuration() | toMinSec}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
