@import "bootstrap/variables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bootstrap/buttons";

[ng-click] { cursor: pointer }

.show-grid { margin-bottom: 15px; }

body {
  padding: 20px 0;
}

.current {
  margin-top: -20px;
  margin-bottom: 20px;

  .current-header {
    position: relative;
    padding-top: 200px;

    background: #000;

    @media screen and (max-width: $screen-xs-max) {
      padding-top: 20px;
    }

    .background {
      position: absolute;
      left: 0; top: 0;
      width: 100%; height: 100%;

      background-position: center;
      background-repeat: none;
      background-size: cover;
      opacity: 0.25;

      -webkit-filter: blur(20px);
              filter: blur(20px);
    }

    .current-name {
      color: #fff;

      @media screen and (min-width: $screen-sm-min) {
        height: 1.2em;
        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .current-info {
    position: relative;
    padding: 10px 0;

    background: #f1f1f1;

    .progress { margin-bottom: 0; }
  }

  .figure-artwork {
    @media screen and (max-width: $screen-xs-max) {
      display: inline-block;
    }

    @media screen and (min-width: $screen-sm-min) {
      position: absolute;
      bottom: -100px;
      z-index: 1;
    }

    &:hover .figure-overlay { opacity: 1; }
  }

  .figure-overlay {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;

    background: rgba(0,0,0,0.8);
    opacity: 0;
  }
}